@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-base {
    @apply bg-blue-800 py-2 rounded-md shadow-md border-2 border-blue-500 justify-center items-center flex-row gap-2;
  }
  .btn-danger {
    @apply bg-red-800 py-2 rounded-md shadow-md border-2 border-red-500 justify-center items-center flex-row gap-2;
  }
  .btn-disabled {
    @apply bg-gray-400 py-2 rounded-md shadow-md border-2 border-gray-500 justify-center items-center flex-row gap-2;
  }
  .btn-neutral {
    @apply bg-gray-700 border-2 border-gray-500 py-2 shadow-md rounded-md justify-center items-center flex-row gap-2;
  }
}
