@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-base {
    @apply bg-blue-800 py-2 rounded-md shadow-md border-2 border-blue-500;
  }
  .btn-danger {
    @apply bg-red-800 py-2 rounded-md shadow-xl border-2 border-red-500;
  }
  .btn-disabled {
    @apply bg-gray-400 py-2 rounded-md shadow-xl border-2 border-gray-500;
  }
}
