@import "tailwindcss";

@theme {
  --color-primary: #f3f4f6;
  --font-primary: "Russo One", sans-serif;
  --breakpoint-xs: 26rem;
  --page-padding: 1.25rem 1.25rem 2.5rem;
}

html,
body {
  overscroll-behavior-y: contain;
  height: 100%;
}

@layer utilities {
  .page-padding {
    padding: var(--page-padding);
  }

  .custom-login-input:-webkit-autofill {
    /* Paint a solid dark background over Chrome's autofill color */
    -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;

    /* Set text color */
    -webkit-text-fill-color: #f3f4f6 !important;

    /* Border + transitions */
    border-color: #f3f4f6 !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }

  .custom-login-input:-webkit-autofill::first-line {
    color: #f3f4f6 !important;
  }
}

.my-heatmap .w-heatmap-week {
  fill: #ffffffea !important; /* green weekdays */
  font-size: 13px !important;
}

/* Month labels (no class, so target data-size attr) */
.my-heatmap text[data-size="11"] {
  fill: #ffffffea !important;
  font-size: 13px !important;
}

::-webkit-scrollbar {
  display: none;
}
