@import "tailwindcss";
@plugin "@tailwindcss/typography";
  
@theme {
  --color-primary: #f3f4f6;
  --breakpoint-xs: 26rem;
  --page-padding: 1.25rem 1.25rem 2.5rem;
  --font-primary: var(--font-primary);
  --font-body: var(--font-body);
}

html,
body {
  overscroll-behavior-y: contain;
  height: 100%;
}

@layer utilities {
  .page-padding {
    padding: var(--page-padding);
  }

  .custom-login-input:-webkit-autofill {
    /* Paint a solid dark background over Chrome's autofill color */
    -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;

    /* Set text color */
    -webkit-text-fill-color: #f3f4f6 !important;

    /* Border + transitions */
    border-color: #f3f4f6 !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }

  .custom-login-input:-webkit-autofill::first-line {
    color: #f3f4f6 !important;
  }

  /* all the basic button variables */
  .btn-base {
    @apply bg-blue-800 py-2 rounded-md shadow-md border-2 border-blue-500 text-lg cursor-pointer hover:bg-blue-700 hover:scale-105 transition-all duration-200;
  }

  .btn-danger {
    @apply bg-red-800 py-2 rounded-md shadow-xl border-2 border-red-500 text-gray-100 text-lg cursor-pointer hover:bg-red-700 hover:scale-105 transition-all duration-200;
  }
}

.my-heatmap .w-heatmap-week {
  fill: #ffffffea !important; /* green weekdays */
  font-size: 13px !important;
}

/* Month labels (no class, so target data-size attr) */
.my-heatmap text[data-size="11"] {
  fill: #ffffffea !important;
  font-size: 13px !important;
}

::-webkit-scrollbar {
  display: none;
}
